.boxStyles_li{
    width: 90%;
    height: 80vh;
    margin: 1% 5% 0 5%;
    border: 1px solid #888888;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 20px;
}
.boxStyles2_li{
    width: 90%;
    height: 90%;
    margin: 2% 5% 0 5%;
    border: 1px solid #888888;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 20px;
}
.InputStyles_li{
    width: 25%;
    height: 100%;
    margin: 0 5% 5% 5%;
    border: 1px  solid #888888;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 20px;
}
.tablestyle_li{
    height: 100%;
    border: 1px  solid #888888;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 20px;
    overflow-y: scroll;
    width:60%;
}
.chart_li{
    width: 90%;
    height: 20%;
    margin: 15% 5% 0 5%;
    /* border: 1px solid #888888; */
    /* box-shadow: 5px 5px 5px #888888; */
    padding:20px;
    margin:0 auto 5% auto;
    border-radius: 20px;
}
/* .chart{ margin: 0 25vw 10vw 25vw; } */

.ansStyles_li{
    width: 100%;
    height: 25%;
    margin: 0 0 5% 0;
    /* border: 1px solid #888888; */
    /* box-shadow: 5px 5px 5px #888888; */
    /* border-radius: 20px; */
}
.showsolt_li{
    border: 1px solid #888888;
    width:90%;
}

.scroll {
    width: 800px;
    /* overflow-y: scroll; */
    border: 1px solid #888888;
    box-shadow: 10px 10px 5px #888888;
    /* border-radius: 20px; */
    overflow: scroll;
 }
 .scroll::-webkit-scrollbar {
    width: 12px;
}

  
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
  
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }
  